{% set is_blank_page = false %}
{% extends 'MopaBootstrapBundle::base.html.twig' %}
{% from 'VivaitBootstrapBundle:Default:flash.html.twig' import session_flash %}

{% block title %}{{ viva_app_name|default('Viva') }} - {{ block('sectiontitle')|striptags }}{% endblock %}

    {% block head_style %}
		{# Override this block to add your own files! #}
		{% stylesheets
		'@MopaBootstrapBundle/Resources/public/less/mopabootstrapbundle.less'
		'@MopaBootstrapBundle/Resources/public/components/smalot-bootstrap-datetimepicker/less/datetimepicker.less'
		'@VivaitBootstrapBundle/Resources/public/css/jquery.dialog2.css'
		'@VivaitBootstrapBundle/Resources/public/css/bootstrap.css'
		'@VivaitBootstrapBundle/Resources/public/css/offcanvassidebar.css'
        '@VivaitBootstrapBundle/Resources/public/css/main.css'
		'@VivaitBootstrapBundle/Resources/public/css/messenger.css'
		'@VivaitBootstrapBundle/Resources/public/css/messenger-theme-future.css' %}
		<link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen"/>
		{% endstylesheets %}
		{# To use this without less use the base_css.html.twig template as your base
		 # Be sure you understand whats going on: have a look into
		 # https://github.com/phiamo/MopaBootstrapBundle/blob/master/Resources/doc/css-vs-less.md
		 #}
	{% endblock head_style %}

{% block head_script %}
	{{ parent() }}
	{% javascripts
	'@VivaitBootstrapBundle/Resources/public/js/vendor/jquery-1.10.2.min.js'
	%}
	<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
{% endblock head_script %}


{% block head_bottom %}
	{% include 'VivaitAuthBundle:Partials:heartbeat.html.twig' %}
{% endblock %}


{% block navbar %}
	{% include 'VivaitBootstrapBundle:Default:menu.html.twig' %}
{% endblock navbar %}

{% block page_header %}{% endblock page_header %}

{% block footer %}{% endblock footer %}
{% block content_div_start %}
<div style="padding-top:65px;" class="content">
	{% endblock content_div_start %}

	{% block content_row %}
		<div class="row">
			<div class="navbar navbar-default">
				<div class="navbar-inner">
					<div class="navbar-brand">{% block sectiontitle %}{% endblock %}</div>
					<div class="pull-right navbar-form">{% block sectionlinks %}{% endblock %}</div>
				</div>
			</div>
			{% block section %}{% endblock %}
		</div>
		<div id="modalDialog" style="display: none"><h1>&nbsp;</h1></div>
	{% endblock content_row %}


	{% block foot_script %}

		{#
		'@MopaBootstrapBundle/Resources/public/bootstrap/js/affix.js'
		'@MopaBootstrapBundle/Resources/public/bootstrap/js/carousel.js'
		'@MopaBootstrapBundle/Resources/public/bootstrap/js/modal.js'
		'@MopaBootstrapBundle/Resources/public/bootstrap/js/scrollspy.js'
		#}

		{% javascripts
		'@MopaBootstrapBundle/Resources/public/bootstrap/js/tooltip.js'
		'@MopaBootstrapBundle/Resources/public/bootstrap/js/alert.js'
		'@MopaBootstrapBundle/Resources/public/bootstrap/js/button.js'
		'@MopaBootstrapBundle/Resources/public/bootstrap/js/collapse.js'
		'@MopaBootstrapBundle/Resources/public/bootstrap/js/dropdown.js'
		'@MopaBootstrapBundle/Resources/public/bootstrap/js/popover.js'
		'@MopaBootstrapBundle/Resources/public/bootstrap/js/tab.js'
		'@MopaBootstrapBundle/Resources/public/bootstrap/js/transition.js'
		'@MopaBootstrapBundle/Resources/public/js/mopabootstrap-collection.js'
		'@MopaBootstrapBundle/Resources/public/js/mopabootstrap-subnav.js'
		'@VivaitBootstrapBundle/Resources/public/js/vendor/jquery.dialog2.js'
		'@VivaitBootstrapBundle/Resources/public/js/vendor/jquery.controls.js'
		'@VivaitBootstrapBundle/Resources/public/js/vendor/jquery.form.js'
		'@VivaitBootstrapBundle/Resources/public/js/vendor/jquery.cookie.js'
		'@VivaitBootstrapBundle/Resources/public/js/vendor/jquery.dialog2.helpers.js'
		'@VivaitBootstrapBundle/Resources/public/js/vendor/colorpicker/colorpicker.js'
		'@VivaitBootstrapBundle/Resources/public/js/vendor/Chart.min.js'
		'@VivaitBootstrapBundle/Resources/public/js/messenger.min.js'
		'@VivaitBootstrapBundle/Resources/public/js/messenger-theme-future.js'
        '@MopaBootstrapBundle/Resources/public/components/smalot-bootstrap-datetimepicker/js/bootstrap-datetimepicker.js'
        '@MopaBootstrapBundle/Resources/public/components/smalot-bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.uk.js'
		'@VivaitBootstrapBundle/Resources/public/js/main.js'
        %}
		<script type="text/javascript" src="{{ asset_url }}"></script>
		{% endjavascripts %}

		<script>
			$(document).ready(function () {
				vivaBootstrap.documentLoaded();
				{% if app.session.flashbag.peekAll|length > 0 %}
				{{ session_flash() }}
				{% endif %}
			});
		</script>

	{% endblock foot_script %}

	{% block flashes %}
	{% endblock flashes %}