{% if app.request.headers.get('X-REQUESTED-WITH') == 'XMLHttpRequest' %}
	{% set extend_page = 'VivaitBootstrapBundle:Default:blank_base.html.twig' %}
{% else %}
	{% set extend_page = 'VivaitBootstrapBundle:Default:base.html.twig' %}
{% endif %}

{% extends extend_page %}

{% form_theme form.form 'VivaitBootstrapBundle:Form:fields.html.twig' %}

{% block sectiontitle %}
	{{ form.title }}
{% endblock %}

{% block section %}
	{{ form_start(form.form, {
		action: form.action|default(app.request.uri),
		attr: {
				'class': 'ajax form-horizontal'
		}
	}) }}
	{{ form.content|default('')|raw }}
	{{ form_errors(form.form) }}
	{{ form_widget(form.form) }}
	<input type="hidden" id="parent" name="parent" value="{{ app.request.query.get('parent', app.request.request.get('parent', app.request.headers.get('referer'))) }}"/>

	<div class="form-actions form-group text-center col-sm-12">
		{% if is_blank_page %}
			<a class="btn close-dialog" href="#">Cancel</a>
		{% endif %}
		<input type="submit" class="btn btn-primary" value="Submit"/>
	</div>

	{{ form_end(form.form) }}
{% endblock %}