{% extends "MopaBootstrapBundle:Form:fields.html.twig" %}
{% use "VivaitBootstrapBundle:Form:accordionfields.html.twig" %}

{% block checkboxgroup_widget %}
    {% spaceless %}
        {% if expanded %}
		<div class="btn-group2 btn-group" data-toggle="buttons-checkbox">
        {% set divider = 0 %}
			{% for child in form %}
				{% set divider = divider + 1 %}
				{% if divider > 7 %}
					{% set divider = 1 %}
		</div>
		<div class="btn-group2 btn-group" style="margin-left:0;" data-toggle="buttons-checkbox">
				{% endif %}
				<button id="button{{ child.vars.id }}" data-hiddenid="{{ child.vars.id }}" data-hiddenname="{{ child.vars.full_name }}" data-value="{{ child.vars.value }}" style="border-radius:0" type="button" class="btn{% if child.vars.checked %} active{% endif %}">{{ child.vars.label|raw }}</button>
				<input id="{{ child.vars.id }}" name="{% if child.vars.checked %}{{ child.vars.full_name }}{% else %}nobody{% endif %}" type="hidden" value="{{ child.vars.value }}" />
            {% endfor %}
		</div>
        {% else %}
            {# just let the choice widget render the select tag #}
            {{ block('choice_widget') }}
        {% endif %}
    {% endspaceless %}
{% endblock %}

{# ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------ #}

{% block checkboxgroupentity_widget %}
        {% if expanded %}
		<div class="btn-group2" style="margin-left:0;" data-toggle="buttons-checkbox">
			{% for child in form %}
				<button id="button{{ child.vars.id }}" data-hiddenid="{{ child.vars.id }}" data-hiddenname="{{ child.vars.full_name }}" data-value="{{ child.vars.value }}" type="button" class="btn{% if child.vars.checked %} active{% endif %}">{{ child.vars.label|raw }}</button>
				<input id="{{ child.vars.id }}" name="{% if child.vars.checked %}{{ child.vars.full_name }}{% else %}nobody{% endif %}" type="hidden" value="{{ child.vars.value }}" />
            {% endfor %}
		</div>
        {% else %}
            {# just let the choice widget render the select tag #}
            {{ block('choice_widget') }}
        {% endif %}
{% endblock %}

{# ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------ #}

{# ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------ #}

{% block colorpicker_widget %}
{% spaceless %}
{{ block('form_widget_simple') }}
{% endspaceless %}
{% endblock %}

{# ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------ #}

{% block datesince_widget %}
	<div class="col-xs-3">
		{{ form_widget(form, {
			attr: {
				'data-date' : widget,
				'data-target-format': date_moment_pattern,
				'data-target-selector': 'input[data-date="single_text"]'
			}
		}) }}
	</div>

	{% set calc_attr = {
		'data-target-id': '#' ~ form.vars.id
	} %}

	{% set content %}<input type="text" class="date-calculator-modifier form-control" placeholder="{{ 'E.g. 4 years, 2 months'|trans }}"{% for attrname,attrvalue in calc_attr %} {{attrname}}="{{attrvalue}}"{% endfor %} />{% endset %}

	<a href="#collapseOne" class="btn btn-default date-calculator" data-container="body" data-title="{{ 'At this address for:'|trans }}" data-content="{{ content|e }}" data-toggle="popover" data-placement="bottom" data-target="#collapseOne"><em class="glyphicon glyphicon-calendar"></em> Calculate</a>

	<script>
		var _set = false;
		$(document).ready(function () {
			if (_set != false) return;
			_set = true;

			$('.date-calculator').popover({
				placement: 'bottom',
				html: true
			});

			var dateCalculator = function() {
				var $t = $(this),
						val = $t.val(),
						matches,
						date,
						format,
						inputs,
						changed = false,
						input = $t.data('target-id'),
						reg = /(\d)\W*(year|month|week|day)s?(?:\W|$)/gi;

				console.log('changing');
				console.log(input);

				// No input? We must be performing the calculator to ourself
				if (!input || (input = $(input)).length === 0) {
					input = $t;
					val = input.data('calc-val');
				}

				// Find the related elements
				format = input.data('target-format');
				inputs = $(input.data('target-selector'));
				prev = $('#' + input.data('target-prev'));

				// No previous input previously defined?
				if (!prev.length) {
					// Find the previous date
					inputs.each(function() {
						if ($(this).is(input)) {
							return false;
						}

						prev = $(this);
					});

					if (prev.length) {
						console.log('binding to');
						console.log(prev);
						prev.on('change', $.proxy(dateCalculator, input));
						input.data('target-prev', $(prev).attr('id'));
					}
				}

				// We've found a previous date field
				if (prev.length) {
					date = moment(prev.val(), format);
				}
				else {
					date = moment();
				}

				// Apply the date transformations
				while ((matches = reg.exec(val)) !== null)
				{
					changed = true;
					date.subtract(matches[2], matches[1]);
				}

				if (changed) {
					input.val(date.format(format)).data('calc-val', val);
				}
			};

			$(document).on('keyup', '.date-calculator-modifier', dateCalculator);

//			steps.sortable({
//				scroll: true,
//				axis: 'y',
//				helper: function(event, element) {
//					var collapse = $(element).find('.panel-collapse');
//
//					if (collapse.hasClass('in')) {
//						collapse.removeClass('in').addClass('collapse');
//						$(this).sortable('refreshPositions');
//					}
//					return element;
//				},
//				update: function() {
//					recalculatePosition(this);
//				}
//			});
		});
	</script>
{% endblock %}